.tmp_container {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background: var(--gray-2);
  margin-inline: auto;
}

/* .tmp_item {
  border: solid var(--pink-30);
  border-radius: 100%;
  background: var(--pink-30);
} */
