/* 
Project List
*/
.project__list {
  gap: 1rem;
}

/* 
     Project Card
*/
.project-card {
  position: relative;
  font-size: var(--font-size-0);
  border-radius: var(--radius-2);
  width: 100%;
  padding: 0;
  margin-top: 2px;
  border: solid 4px var(--surface-2);
  background: var(--surface-2);
  transition: all 0.6s ease-in-out;
  color: var(--text-2);
}

.project-card:hover {
  /* color: var(--gray-20); */
  background: var(--surface-3);
  border: solid 4px var(--grape-6);
  transform: translate(0, -1px);
}

/*  This overlay contains the bin and edit buttons.

    We are using the event bubbling to capture the
    hover state on the card below, it changes the color
    of the text so we can see it,
    and then again when we hover over the
    overlay buttons once more. Order is important here.
*/
.project-card__overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  color: var(--gray-2);
  transition: color 0.5s ease-in-out;
}

.project-card__overlay:hover {
  color: var(--gray-1);
}

/*  This is the bin and edit buttons on the Card. */
.project-card__action {
  height: fit-content;
  padding: 0.4rem 0.2rem 0.2rem;
  margin: 0.2rem;
  background: inherit;
  font-size: var(--font-size-xl);
  cursor: pointer;
  color: inherit;
  border: none;
  border-radius: var(--border-radius-xs);
}
.project-card__action:hover {
  background-color: var(--gray-50);
  color: var(--pink-40);
}

.project-card__header {
  padding: 1rem;
  font-size: var(--font-size-m);
  text-transform: capitalize;
}
.project-card__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}
.project-card__list-item {
  list-style: none;
  /* padding-top: .2em; */
}
