
.folder__list{
  gap:.5rem;
  /* padding-top: 103px; */
  /* height: calc(100vh - 15rem); */
}

.folder__item{
  display: block;
  position: relative;
}
.folder__link{
  display: block;
  border: solid 4px var(--gray-15);
  border-radius: var(--border-radius-s);
  /* margin-top: 8px; */
  padding: .5rem;
   transition: all 0.6s ease-in-out;
   
}

.folder__link:hover {
  /* color: var(--gray-20); */
  background: var(--gray-20);
  border: solid 4px var(--pink-40);
  transform: translate(-0rem, -1px);
}

.folder__delete{
  position: absolute;
}

.folder__item .permission--granted{
  color: inherit
}
.folder__item .permission--denied{
  color: var(--red-80);
  text-decoration: line-through;

}
.folder__item .permission--prompt{
  color: var(--blue-80);
}