.switch{
    border: solid 1px royalblue;
    padding: .2rem;
}
.switch__wrapper {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 0 1rem;
  border: solid 1px royalblue;
}
.switch__input {
  position: absolute;
  width: 90px;
  height: 1px;
  opacity: 1;
  z-index: 0;
  top: 2px;
  left: 6px;
  /* padding: 93px 40px; */
  outline-offset: 10px;
  /* background: greenyellow; */
}
.switch__slider {
  position: absolute;
  background: #fff;
  width: 100px;
  height: 15px;
  border-radius: 15px;
  
}

.switch__slider::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--pink-30);
  top: -4px;
  left: -2px;
  transition: left 300ms ease-in-out;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
input:checked + .switch__slider::before {
  left: 79px;
}
