.folder__list {
  gap: 0.5rem;
  /* padding-top: 103px; */
  /* height: calc(100vh - 15rem); */
  /* position: relative; */
}

.folder__item {
  display: block;
  position: relative;
}

.folder__item .active {
  border: solid 4px var(--gray-20);
  background: var(--gray-20);
}

.folder__item .active::before{
    content: '';
    position: absolute;
    top:23%;
    width: var(--active-state-bar-width);
    height: 1.5rem;
    background: var(--pink-30);
    border-radius: 5px;
    left: 0px;
}

.folder__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  border: solid 4px var(--gray-15);
  border-radius: var(--border-radius-s);
  /* margin-top: 8px; */
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.folder__link:hover {
  /* color: var(--gray-20); */
  background: var(--gray-20);
  border: solid 4px var(--gray-20);
  /* transform: translate(-0rem, -.5px); */
}


.folder__link::before {
    content: '';
    position: absolute;
    top:40%;
    width: var(--active-state-bar-width);
    height: 0px;
    background: var(--pink-30);
    border-radius: 5px;
    left: 0px;
    transition: all 250ms ease-in;
    /* transition: top 200ms ease-in-out; */
}

.folder__link:hover::before {
  height: var(--active-state-bar-height);
  top:23%;
  background: var(--pink-30);
  
}
.folder__delete {
  position: absolute;
}

.folder__item--granted,
.folder__item--granted:visited,
.folder__item--granted:link {
  color: inherit;
}
.folder__item--denied,
.folder__item--denied:visited,
.folder__item--denied:link {
  color: var(--red-80);
  text-decoration: line-through;
}
.folder__item--prompt,
.folder__item--prompt:visited,
.folder__item--prompt:link {
  color: var(--blue-80);
}

.badge{
display:  inline-block;
color: var(--gray-0);
background: var(--gray-60);
border-radius: var(--border-radius-m);
padding: 0 .3rem;
width: 2rem;
text-align: center;
font-size: var(--font-size-s);
font-weight: 500;
}

.badge__link{
  margin-left: 1rem;
}