/* .folder__list {
  gap: 0.5rem;
} */

.accordion__item,
.accordion__child-item {
  display: block;
  position: relative;
}

.accordion__item .active {
  border: solid 4px var(--gray-20);
  background: var(--gray-20);
}

.accordion__link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--gray-20);
  border: solid 4px var(--gray-20);
  border-radius: var(--border-radius-s);
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  gap: 0.5rem;
  overflow: hidden;
}
.accordion__link:hover {
  background: var(--gray-20);
  border: solid 4px var(--gray-20);
}

.accordion__link:hover::before {
  /* height: var(--active-state-bar-height); */
  bottom: 30%;
  top: 30%;
  height: auto;
  background: var(--pink-40);
}
.accordion__delete {
  position: absolute;
}

.accordion__item--granted,
.accordion__item--granted:visited,
.accordion__item--granted:link {
  color: inherit;
}
.accordion__item--denied,
.accordion__item--denied:visited,
.accordion__item--denied:link {
  color: var(--red-80);
  text-decoration: line-through;
}
.accordion__item--prompt,
.accordion__item--prompt:visited,
.accordion__item--prompt:link {
  color: var(--blue-80);
}

.accordion__group__list {
  gap: 0.5rem;
  margin-bottom: 0.8rem;

  margin-top: 0.8rem;
  min-height: 2.9rem;
  max-height: 80vh;
}
.accordion__child-list {
  display: none;
  padding: 0.5rem 0 0 1rem;
}
.accordion__child-list--active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  font-size: var(--font-size-s);
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
}

.accordion__child-item .active {
  background: var(--gray-17);
  border-color: var(--gray-17);
}

.accordion__child-link {
  color: var(--pink-90);
  background: var(--gray-17);
  border-color: var(--gray-17);
  border-radius: var(--border-radius-s);
}
.accordion__child-link:hover {
  background: var(--gray-17);
  border-color: var(--gray-17);
}

.accordion__child-item .active::before {
  content: "";
  position: absolute;
  top: 30%;
  bottom: 30%;
  height: auto;
  width: var(--active-state-bar-width);
  background: var(--pink-30);
  border-radius: 5px;
  left: 0px;
}

.accordion__child-link::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: var(--active-state-bar-width);
  height: auto;
  background: var(--pink-40);
  border-radius: 5px;
  left: 0px;
  transition: all 250ms ease-in;
  /* transition: top 200ms ease-in-out; */
}

/*------------   Badge  ----------------*/


/*------------   Utils  ----------------*/



.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
