/* .folder__list {
  gap: 0.5rem;
} */

.accordion__item,
.accordion__child-item {
  display: block;
  position: relative;
}

.accordion__item .active {
  border: solid 4px var(--surface-3);
  background: var(--surface-3);
  color: var(--text-2);
}

.accordion__link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--surface-3);
  border: solid 4px var(--surface-3);
  border-radius: var(--radius-2);
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  gap: 0.5rem;
  overflow: hidden;
  color: inherit;
}

.accordion__link:hover {
  background: var(--surface-3);
  border: solid 4px var(--surface-4);
}

.accordion__link:hover::before {
  /* height: var(--active-state-bar-height); */
  bottom: calc(50% - .8rem);
  top: calc(50% - .8rem);
  height: auto;
  background: var(--grape-8);
}
.accordion__delete {
  position: absolute;
}

.accordion__item--granted,
.accordion__item--granted:visited,
.accordion__item--granted:link {
  color: inherit;
}

.accordion__item--denied,
.accordion__item--denied:visited,
.accordion__item--denied:link {
  color: var(--red-7);
  text-decoration: line-through;
}

.accordion__item--prompt,
.accordion__item--prompt:visited,
.accordion__item--prompt:link {
  color: var(--blue-8);
}

.accordion__group__list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 0.5rem;
  margin: 0.8rem 0;
  flex-grow:1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.accordion__child-list {
  display: none;
  padding: 0.5rem 0 0 1rem;
}

.accordion__child-list--active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  font-size: var(--font-size-7);
  border-radius: 0 0 var(--radius-2) var(--radius-2);
}

.accordion__child-item .active {
  background: var(--surface-3);
  /* border-color: var(--surface-4); */
}

.accordion__child-link {
  /* color: var(--pink-90); */
  background: var(--surface-3);
  border-color: var(--surface-3);
  border-radius: var(--radius-2);
}
.accordion__child-link:hover {
  background: var(--surface-3);
  border-color: var(--surface-4);
}

.accordion__child-item .active::before {
  content: "";
  position: absolute;
   bottom: calc(50% - .8rem);
  top: calc(50% - .8rem);
  width: var(--active-state-bar-width);
  height: auto;
  background: var(--grape-8);
  border-radius: 5px;
  left: 0px;
}

.accordion__child-link::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  
  width: var(--active-state-bar-width);
  height: auto;
  background: var(--pink-40);
  border-radius: 5px;
  left: 0px;
  transition: all 250ms ease-in;
  /* transition: top 200ms ease-in-out; */
}



