*,
:root {
  box-sizing: border-box;
  scrollbar-width: thin;
  
  /* scrollbar-color: var(--green-28) var(--gray-8); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface-2);
  color: var(--text-2);
}

::selection {
  background: var(--grape-9);
}

/* 
.font-size--xs {
  font-size: var(--font-size-xs);
}

.font-size--s {
  font-size: var(--font-size-s);
}

.font-size--m {
  font-size: var(--font-size-m);
}

.font-size--l {
  font-size: var(--font-size-l);
}

.font-size--xl {
  font-size: var(--font-size-xxl);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-size-2);
  padding: 0;
  margin: 0;
}

/* form {
  height: 100%;
} */

:link,
:visited {
  /* color: inherit; */
  text-decoration: none;
}

li {
  list-style: none;
}

/* style the scrollbar. */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-7);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grape-9);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grape-8);
}

.btn {
  border: 0.2rem solid var(--surface-3);
  border-radius: var(--border-radius-s);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--surface-2);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background: var(--surface-3);
  border: 0.2rem solid var(--surface-3);
}

.btn:active {
  background: var(--grape-8);
}

main {
  background: var(--gray-9);
  border-radius: var(--radius-2) 0 0 0;
}

/* ------------   Utils  ---------------- */

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.flex-column {
  flex-direction: column;
  align-items: flex-start;
}

.primary {
  background: var(--grape-9);
  color: var(--pink-90);
}

.success {
  background: var(--green-9);
  color: var(--green-2);
}

.warning {
  background: var(--red-9);
  color: var(--red-0);
}

/* .pl-0 {
  padding-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.75rem;
}

.pr-0 {
  padding-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.75rem;
} */
