*,
:root {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--pink-40) var(--gray-50);
}
body {
  /* default colors */
  --gray-0: hsl(0deg 0% 5% / 100%);
  --gray-10: hsl(0deg, 0%, 10%, 100%);
  --gray-15: hsl(0, 0%, 15%, 1);
  --gray-17: hsl(0, 0%, 17%, 1);
  --gray-20: hsl(0, 0%, 22%, 1);
  --gray-25: hsl(0, 0%, 27%, 1);
  --gray-30: hsl(0, 0%, 33%, 1);
  --gray-40: hsl(0, 0%, 44%, 1);
  --gray-50: hsl(0, 0%, 51%, 1);
  --gray-60: hsl(0, 0%, 62%, 1);
  --gray-70: hsl(0, 0%, 70%, 1);
  --gray-80: hsl(0, 0%, 80%, 1);
  --gray-90: hsl(0, 0%, 90%, 1);
  --gray-100: hsl(0deg 0% 100% / 100%);

  /* green */
  --green-0: hsla(174, 100%, 1%, 1);
  --green-10: hsla(174, 100%, 11%, 1);
  --green-20: hsla(174, 100%, 22%, 1);
  --green-30: hsla(174, 100%, 33%, 1);
  --green-40: hsla(174, 100%, 43%, 1);
  --green-50: hsla(174, 100%, 53%, 1);
  --green-60: hsla(174, 100%, 63%, 1);
  --green-70: hsla(174, 100%, 72%, 1);
  --green-80: hsla(174, 100%, 81%, 1);
  --green-90: hsla(174, 100%, 90%, 1);
  --green-100: hsla(174, 100%, 100%, 1);

  /* red */
  --red-10: hsla(352, 82%, 10%, 1);
  --red-20: hsla(352, 82%, 17%, 1);
  --red-30: hsla(352, 82%, 27%, 1);
  --red-40: hsla(352, 82%, 37%, 1);
  --red-50: hsla(352, 82%, 47%, 1);
  --red-60: hsla(352, 82%, 57%, 1);
  --red-70: hsla(352, 82%, 68%, 1);
  --red-80: hsla(352, 82%, 79%, 1);
  --red-90: hsla(352, 82%, 90%, 1);
  --red-100: hsla(352, 82%, 100%, 1);

  /* orange  */
  --orange-10: hsla(22, 100%, 10%, 1);
  --orange-20: hsla(22, 100%, 20%, 1);
  --orange-30: hsla(22, 100%, 30%, 1);
  --orange-40: hsla(22, 100%, 40%, 1);
  --orange-50: hsla(22, 100%, 50%, 1);
  --orange-60: hsla(22, 100%, 60%, 1);
  --orange-70: hsla(22, 100%, 70%, 1);
  --orange-80: hsla(22, 100%, 80%, 1);
  --orange-90: hsla(22, 100%, 90%, 1);
  --orange-100: hsla(22, 100%, 100%, 1);

  /* blue */
  --blue-10: hsla(198, 100%, 11%, 1);
  --blue-20: hsla(198, 100%, 22%, 1);
  --blue-30: hsla(198, 100%, 33%, 1);
  --blue-40: hsla(198, 100%, 40%, 1);
  --blue-50: hsla(198, 100%, 50%, 1);
  --blue-60: hsla(198, 100%, 60%, 1);
  --blue-70: hsla(198, 100%, 70%, 1);
  --blue-80: hsla(198, 100%, 80%, 1);
  --blue-90: hsla(198, 100%, 90%, 1);
  --blue-100: hsla(198, 100%, 100%, 1);

  /* pink */
  --pink-0: hsla(313, 100%, 3%, 1);
  --pink-10: hsla(313, 100%, 10%, 1);
  --pink-20: hsla(313, 100%, 20%, 1);
  --pink-30: hsla(313, 100%, 30%, 1);
  --pink-40: hsla(313, 100%, 40%, 1);
  --pink-50: hsla(303, 100%, 50%, 1);
  --pink-60: hsla(303, 100%, 60%, 1);
  --pink-70: hsla(303, 100%, 70%, 1);
  --pink-80: hsla(303, 100%, 80%, 1);
  --pink-90: hsla(303, 100%, 90%, 1);
  --pink-100: hsla(303, 100%, 100%, 1);
  /* utilities  */
  --default-padding: 0.4rem;

  --border-radius-xs: 3px;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;

  --red: var(var(--red-50));
  --text-color: var(--green-10);

  --font-size-xs: 0.6rem;
  --font-size-s: 0.8rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.86rem;

  --active-state-bar-width: 4px;
  --active-state-bar-height: 1.5rem;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--gray-10);
  color: var(--gray-80);
}
::selection {
  background: var(--pink-30);
}

.font-size--xs {
  font-size: var(--font-size-xs);
}
.font-size--s {
  font-size: var(--font-size-s);
}
.font-size--m {
  font-size: var(--font-size-m);
}
.font-size--l {
  font-size: var(--font-size-l);
}
.font-size--xl {
  font-size: var(--font-size-xl);
}
.font-size--xl {
  font-size: var(--font-size-xxl);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-size-medium);
  padding: 0;
  margin: 0;
}
form {
  height: 100%;
}

:link,
:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
/* style the scrollbar. */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink-30);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pink-40);
}

.btn {
  border: 0.2rem solid var(--gray-15);
  border-radius: var(--border-radius-s);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-90);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background: var(--gray-80);
  border: 0.2rem solid var(--gray-40);
  /* transform: scale(102%); */
}
.btn:active {
  background: var(--pink-40);
}
main {
  background: var(--gray-15);
  border-radius: var(--border-radius-m) 0 0 0;
}
/*------------   Utils  ----------------*/

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.flex-column {
  flex-direction: column;
  align-items: flex-start;
}

.primary {
  background: var(--pink-30);
  color: var(--pink-90);
}

.success {
  background: var(--green-20);
  color: var(--green-90);
}

.warning {
  background: var(--red-40);
  color: var(--gray-90);
}
.pl-0 {
  padding-left: 0.25rem;
}
.pl-1 {
  padding-left: 0.5rem;
}
.pl-2 {
  padding-left: 0.75rem;
}
.pr-0 {
  padding-right: 0.25rem;
}
.pr-1 {
  padding-right: 0.5rem;
}
.pr-2 {
  padding-right: 0.75rem;
}
