@import "../../node_modules/open-props/src/props.media.css";
@import "theme.light.css";
@import "theme.dark.css";

:where(html) { 
    box-sizing: border-box;
    scrollbar-width: thin;
}

:where(h1, h2, h3, h4, h5, h6, dt) { 
  color: var(--text-1);
}

:where(a[href]) {
  color: var(--link);
  
  &:visited {
    color: var(--link-visited);
  }
}

:focus-visible { 
  outline-color: var(--link); 
}