.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.app-content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 3rem);

}
