.badge {
  color: var(--text-1);
  background: var(--surface-4);
  border-radius: var(--radius-2);
  padding-block:.1rem;
  padding-inline: var(--size-2);
  min-width: 2rem;
  text-align: center;
  font-size: var(--font-size-0);
  font-weight:var(--font-weight-4);

}


.btn.badge{
    border: none;
  
}