.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: var(--font-size-4);
  padding-inline-start: 0.5rem;
}

.header__logo-image {
  height: 2.2rem;
  padding-inline-start: 0.5rem;
}

.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__profile {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-5);
}

.header__avatar {
  color: var(--text-2);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--grape-6);
    cursor: pointer;
  }
}
