.model-list {
  --model-list-columns: 1;
  --model-list-rows: 1;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 1rem;
  width: 100%;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: repeat(var(--model-list-columns), 1fr);
  grid-template-rows: repeat(var(--model-list-rows), 1fr);
  gap: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.pagination {
  display: flex;
  padding: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.pagination__btn {
  padding: 0.5rem;
  min-width: 5.5rem;
}

.pagination__txt {
  padding: 0 1rem;
  margin: 0.7rem;
  font-size: var(--font-size-0);
}

@media screen and (min-width: 815px) {
  .pagination {
    margin: 0;
  }
}

@media screen and (min-width: 950px) {
  .pagination__txt {
    padding: 0 1rem;
    margin: 0.7rem;
    font-size: var(--font-size-2);
  }
}
