.menu {
  height: auto;
   max-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--default-padding);
}
.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item {
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  margin-top: var(--default-padding);
}

.menu__link {
  
  --size: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: var(--font-size-xs);
  text-align: center;

  border-radius:var(--border-radius-s) ;
  height: var(--size);
  width: var(--size);
  background: var(--gray-10);
  transition: background 500ms ease-in-out;
  position: relative;
}
.menu__link:hover {
  background: var(--gray-15);
}
.menu__link::before {
    content: '';
    position: absolute;
    top:50%;
    width: var(--active-state-bar-width);
    height: 0px;
    background: var(--pink-30);
    border-radius: 5px;
    left: 0px;
     transition: all 250ms ease-in;
}
.menu__link:hover::before {
    content: '';
    position: absolute;
    top:25%;
   
    height: var(--active-state-bar-height);
    background: var(--pink-30);
   
}


 .menu__item .active{
    background: var(--gray-15);
}
 
.menu__item .active::before{
    content: '';
    position: absolute;
    top:25%;
    width: var(--active-state-bar-width);
    height: var(--active-state-bar-height);
    background: var(--pink-30);
    border-radius: 5px;
    left: 0px;
}

.menu__svg{
    font-size: var(--font-size-xl);
}
.menu__item:first-child {
  margin-top: 0;
}
.menu__item:last-child {
  margin-bottom: 1rem;
}



