.search {
  min-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text-2);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  padding: 0;
  position: relative;
   box-shadow: var(--shadow-2);
   overflow: hidden;
}

.search__container:focus-within{
  outline: var(--border-size-2) solid var(--brand);
}

.search__input {
  width: 100%;
  height: 100%;
  color: var(--text-2);
  border: none;
  background: var(--surface-2);
  padding: var(--default-padding);
  position: relative;
  
}



.search__button {
   display: flex ;
  justify-content: center;
  align-items: center; 
  width: fit-content;
  min-height: 100%;
  padding: .39rem .4rem;
  margin: 0;
  background: var(--surface-2);
  color: var(--text-2);
  font-size: var(--font-size-fluid-0);
  border: none;
  transition: all 0.3s ease-in-out;
}

.search__button:hover {
  background: var(--brand);
  color: var(--text-inverse);
  cursor: pointer;
}

.search__button:active {
  background: var(--surface-3);
}


/* set on container:focus-within above so remove here */
.search__button:focus, .search__input:focus {
  outline: none;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--surface-2);
  transition: background-color 5000s ease-in-out 0s;
}
